.list-page-content {
  display: flex;
  justify-content: space-around;
}

.list {
  width: 500px;
  margin: 20px 0;
  border: 2px solid #8c2aef;
  border-radius: 5px;
}

.list-header {
  display: grid;

  padding: 10px;
  margin-bottom: 5px;

  text-align: center;
  font-weight: bold;

  background-color: #8c2aef;
  color: white;
}

.user-list {
  grid-template-columns: 100px 100px 1fr;
}

.room-list {
  grid-template-columns: 1fr 100px 100px 100px 100px;
}

.course-list {
  grid-template-columns: 50px 2fr 1fr;
}

.list-item {
  display: grid;

  padding: 10px;

  text-align: center;
}

.list-item:hover,
.list-item-selected {
  cursor: pointer;
  background-color: #8c2aef;
  color: white;
  font-weight: bold;
}

.loader-container {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.detail {
  width: 500px;
  min-height: 500px;
  border: 2px solid #a453f5;
  border-radius: 5px;
  padding: 10px;
}

.nothing-selected-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.detail-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
