/* userlist.css */
.list-pages-list-container {
  max-width: 600px;
}

.course-page .list-pages-list-container {
  max-width: 1100px;
}

.activity-page .list-pages-list-container{
  max-width: 1100px;
}

.activities-page .list-pages-list-container {
  max-width: 1100px;
}

.list-pages-list-container ul {
  list-style-type: none;
  padding: 0;
}

.list-pages-list-container .list-header {
  background-color: #A453F5;
  border-bottom: 1px solid #ddd;
  color: #f4f4f4;
  font-weight: bold;
  padding: 10px;
  display: flex;
}

.list-pages-list-container .header-item {
  flex: 1;
  text-align: center;
}

.list-pages-list-container li {
  background-color: #ffffff;
  border: 1px solid #ddd;
  margin-bottom: 3px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
}

.list-pages-list-container li span {
  flex: 1;
  text-align: center;
}

.list-pages-list-container .list-item-properties:hover {
  background-color: #e0e0e0;
}

.list-pages-list-container .user-role {
  color: #007bff;
}

.users-page {
  display: flex;
}

.rooms-page {
  display: flex;
}

.activities-page {
  display: flex;
}

.activity-page {
  display: flex;
}

.list-pages-list-container {
  flex: 1;
  margin-right: 20px;
}

.user-detail-container {
  margin-left: 15px;
  border-radius: 5px;
  max-width: 40%;
  max-height: 600px;
  background-color: white;
  margin-top: 75px;
  border: 1px solid #ddd;
  flex: 1;
}

.user-detail-properties {
  margin-left: 10%;
  display: grid;
  grid-template-columns: 60% 40%;
}

.user-detail-properties p {
  font-size: 1.2em;
}

.user-detail-properties p:nth-child(odd) {
  font-weight: bold;
  /* Zvýraznění textu v prvním sloupci */
}

.user-detail-properties h2 {
  color: white;
}

.user-detail-header {
  background-color: #A453F5;
}

.purple-bar {
  background-color: #A453F5;
  height: 45px;
  width: 100%;
  border-radius: 5px 5px 0 0;
  top: 0;
  left: 0;
}

.user-detail-container img {
  margin-left: 10%;
  margin-top: 5%;
  width: 125px;
  height: auto;
  border: 2px solid #ccc;
  border-radius: 5px;
  bottom: 10px;
}

.course-page {
  margin-left: 10%;
}

.users-page {
  margin-left: 10%;
}

.rooms-page {
  margin-left: 10%;
}

.descArrowIcon {
  margin-left: 3px;
  margin-top: 15px;
}


.searchBar {
  padding: 8px;
  width: 44.5%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.coursePageContentWrapper{
  margin: 2% 0 0 5%;
}

.courseCardWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1300px;
}

.courseCard {
  width: 300px;
  height: 300px;
  padding-bottom: 50px;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  background: rgb(106,90,205);
  background: linear-gradient(to bottom right, rgba(106,90,205,1) 0%, #9585fb 100%);
  overflow:hidden;
  cursor: pointer;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  text-align: center;
}

.courseCard h2 {
  font-size: 1.6em;
}

.courseCardID{
  font-size: 1.6em;
}

.courseCardGuarantor{
  font-size: 1.1em;
}

.courseCardAnnotation{
  margin: 0 15px;
}

.tileWrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1300px;
  margin-top: 5%;
  margin-left:10%;
}

.tile {
  width: 300px;
  height: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  background: rgb(106,90,205);
  background: linear-gradient(to bottom right, rgba(106,90,205,1) 0%, #9585fb 100%);
  text-decoration: none; 
}

.tile img {
  margin-bottom: 20px;
}

